<p class="text-xl text-center py-5 underline">GetSet works!</p>
<div class="flex items-center justify-center">
    <h1 class="text-4xl">User Name: {{name}}</h1>
</div>
<div class="flex items-center justify-center py-3">
    <input type="text" (input)="getName($event)" value="{{name}}" class="border rounded-md" placeholder="type here" name="input"/>
</div>
<div class="flex flex-col items-center justify-center py-3">
    <button (click)="showName($event)" type="button" class="border p-2 rounded-lg bg-green-800">Print Name</button>
    <button (click)="setName($event)" type="button" class="border p-2 rounded-lg bg-red-600">Set Name Shawn</button>
    <h1 class="text-4xl">After Button Click : {{finalName}}</h1>
</div>